<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyQuanAo.Properties.Settings.QL_QuanAoConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=QL_QuanAo;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="ManagementApp.Properties.Settings.QL_QuanAoConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=QL_QuanAo;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
